name: Ruby

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        # ruby-version: [3.1.0-preview1, 3.0.2, 2.7.4, 2.6.8]
        ruby-version: [3.0.2, 2.7.4, 2.6.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run test
        run: bundle exec rake test

      - name: Run test (rails)
        env:
          RAILS_TEST: true
        run: |
          bundle exec rails db:setup
          bundle exec rake test
